{
  "parser": "babel-eslint",
  "extends": "shortlyster",
  "plugins": [
    "react",
    "flowtype"
  ],
  "env": {
    "mocha": true,
    "browser": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/label-has-for": "off"
  }
}
